/* p{
    color: red
} */

/* #titulo {
    color: green;
    text-align: center
} */

/* Estiliza textos cuja tag é do tipo <p> e ID é igual a "descricao" */
p#descricao{
    color: blue
}

/* Seletor por classe */
p.promocao{
    text-align: center;
    background-color: lightgreen
}

h1.promocao{
    color: yellow
}

.nova{
    color: white
}

p.final-pagina#rodape{
    background-color: lightgray;
    text-align: center;
}   

.curso, .novo-curso{
    background-color: aliceblue
}

.novo-curso{
    color: red;
}

.curso, .novo-curso, #contato{
    padding: 12px;
    border: 1px solid lightgray;
}